{% extends 'base.html' %}
{% load static %}


{% block content %}
<section class="product_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Our Products
      </h2>
      <div class="row">

        {% for card in cards %}
                
        {% include 'components/card/card.html' %}
      
        {% endfor %}
      </div>
    </div>

  

    <section class="pagination-section">
      {% include 'components/pagination/paginator.html' %}
  </section>
</section>
{% endblock content %}
  

