{% load static %}
  {% comment %} <div class="card">
    <a href="{{ card.get_absolute_url }}"><img style="height: 300px; background-size: cover; background-position: center;" src="{{card.product_media.first.image.url}}" alt="" width="100%"></a>
    <div class="desc">
        <span>{{card.description}}</span>
        <a style="text-decoration: none;" href="{{ card.get_absolute_url }}"><h5>{{card.title}}</h5></a>
        <div class="star-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <h4 >{{card.price}} сом</h4>
    </div>
    <div class="icon-container">
        <img width="18px" class="cart-icon" src="{% static 'image/icons/shopping-cart.png' %}" alt="Icon">
    </div>
</div> {% endcomment %}

<section class="product_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Products
        </h2>
      </div>
      <div class="row">
        <div class="col-sm-6 col-lg-4">
          <div class="box">
            <div class="img-box">
              <img src="{{ books.books_media.first.image.url}}" alt="">
              <a href="" class="{{books.get_ablosute_url}}">
                <span>
                  Add To Cart
                </span>
              </a>
            </div>
            <div class="detail-box">
              <h5>
                {{books.title}}
              </h5>
              <div class="product_info">
                <h5>
                  <span>$</span> {{books.price}}
                </h5>
                <div class="star_container">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        
  </section>